.producto-card {
    background: white;
    border-radius: 16px;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 8px;
    width: 280px; /* Mantenemos el ancho fijo */
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;

}

.producto-card h3, 
.producto-card h4, 
.producto-card p {
    margin: 0;
    width: 100%; /* Para asegurar que se centren bien */
}

.producto-card:hover {
    transform: translateY(-5px); /* Se levanta un poco */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.detalle-imagen {
    width: 100%;
    height: 260px;
    object-fit: contain;
    margin-bottom: 8px;
}

.precio-original {
    color: #a4b0be; /* Gris claro */
    text-decoration: line-through;
    font-size: 0.9rem;
}

.precio-oferta {
    color: #00c853; /* Verde moderno */
    background-color: #e8f5e9; /* Fondo verde muy pálido */
    padding-top: 6px;
    padding-bottom: 6px;

    border-radius: 8px;
    font-weight: 700;
    font-size: 1.2rem;
}

.descuento {
    color: #e64a19;
    font-size: 0.9em;
    font-weight: 600;
}

.alerta-vencimiento {
    color: #c62828;
    font-size: 0.9em;
}

.producto-card button {
    background-color: #00c853; /* Verde vibrante (Android green) */
    color: white;
    border: none;
    border-radius: 50px; /* Botón tipo "píldora", muy moderno */
    font-weight: 600;
    width: 100%; /* Opcional: si quieres que ocupe todo el ancho */
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
}

.producto-card button:hover {
    background: #009624
}
