body {
    margin: 0;
    padding: 0;
}

.Home {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    width: 100vw;
    position: relative;
    min-height: 100vh;
    background-color: #F4F6F8;
}

.Navbar {
    width: 100%;
    position: fixed;
    flex-direction: 0;
}

.Cuerpo-1 {
    flex-grow: 1;
    width : 100%;
    display: flex;
    overflow-y: auto;
    color: black;
    padding: 20px 20px;
}

.contenido-principal {
    width: 100%; 
    max-width: 100%; 
    display: flex;
    flex-direction: column;
}

.sidebar-filtros {
    width: fit-content;
    height: auto;
    position: static;
    
    background: white;
    border-radius: 12px;
    padding: 15px 25px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.productos-grid {
    width: 100%;
    padding: 0;
    padding-bottom: 100px;
}

.productos-lista {
    display: grid;
    gap: 30px;
    width: 100%;
}

@media (max-width: 640px) {
    .productos-lista {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .productos-lista {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .productos-lista {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1281px) and (max-width: 1600px) {
    .productos-lista {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1601px) {
    .productos-lista {
        grid-template-columns: repeat(5, 1fr);
    }
}

.info-msg, .error-msg {
    text-align: center;
    color: #333;
    font-weight: 500;
    margin-top: 2rem;
}