body {
  margin: 0;
  padding: 0;
}

.NewProduct {
    display: flex;
    flex-direction: column; /* Alinea el navbar y el cuerpo en columna */
    min-width: 1000px; /* Asegura un ancho mínimo para evitar que el diseño se rompa en pantallas pequeñas */
    width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    background-color: #F4F6F8;
}

.Navbar {
    position: fixed; /* Fija el navbar en la parte superior */
    flex-direction: 0; /* Evita que el navbar se encoja si hay poco espacio */
}

.Cuerpo {
    flex-grow: 1; /* Permite que .Cuerpo ocupe todo el espacio restante disponible */
    width : 100%;
    display: flex;
    overflow-y: auto; /* Si el contenido es muy largo, permite scroll solo en el cuerpo */
}

.lote-container {
  width: 700px;
  margin: 80px auto;
  padding: 25px;
  background: #5ae861;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  color: black;
}

.lote-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.lote-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.lote-form input,
.lote-form textarea {
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.lote-form textarea {
  resize: vertical;
  min-height: 80px;
}

.lote-form input[type="file"] {
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0; /* Reseteamos padding para estilizar el botón interno */
}

.lote-form input[type="file"]::file-selector-button {
  background: #017007; /* Color principal del botón */
  color: white;
  padding: 8px 10px; /* Mismo padding que los otros inputs */
  border: none;
  border-right: 1px solid #ccc; /* Línea divisoria */
  border-radius: 5px 0 0 5px; /* Redondea solo las esquinas izquierdas */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px; /* Espacio entre el botón y el texto "No file chosen" */
}

.lote-form input[type="file"]::file-selector-button:hover {
  background: #01b50a;
  color: black;
}

.lote-form button {
  background: #017007;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lote-form button:hover {
  background: #01b50a;
  color : black;
}

.categoria-select-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn-add-categoria {
    padding: 4px 10px;
    font-size: 18px;
    cursor: pointer;
}

.categoria-input-container {
    display: flex;
    gap: 8px;
    align-items: center;
}