body {
  margin: 0;
  padding: 0;
}

.Register {
    display: flex;
    flex-direction: column; /* Alinea el navbar y el cuerpo en columna */
    min-width: 1000px; /* Asegura un ancho mínimo para evitar que el diseño se rompa en pantallas pequeñas */
    width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    background-color: #f4f3ef;
}

.Navbar {
    position: fixed; /* Fija el navbar en la parte superior */
    flex-direction: 0; /* Evita que el navbar se encoja si hay poco espacio */
}

.Cuerpo {
    flex-grow: 1; /* Permite que .Cuerpo ocupe todo el espacio restante disponible */
    width : 100%;
    display: flex;
    overflow-y: auto; /* Si el contenido es muy largo, permite scroll solo en el cuerpo */
}

/* Estilos para el formulario de registro */
.register-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background: #5ae861;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: black;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.register-form input,
.register-form textarea,
.register-form select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-form button {
  padding: 10px;
  border: none;
  background: #017007;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%; /* hace que el botón ocupe todo el ancho del formulario */
  box-sizing: border-box; /* asegura que el padding no expanda el ancho */
}

.register-form button:hover {
  background: #01b50a;
  color : black;
}