body {
  margin: 0;
  padding: 0;
}

.Store {
    display: flex;
    flex-direction: column; /* Alinea el navbar y el cuerpo en columna */
    min-width: 1000px; /* Asegura un ancho mínimo para evitar que el diseño se rompa en pantallas pequeñas */
    width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    background-color: #F4F6F8;
}

.Navbar {
    position: fixed; /* Fija el navbar en la parte superior */
    flex-direction: 0; /* Evita que el navbar se encoja si hay poco espacio */
}

.Cuerpo {
    flex-grow: 1; /* Permite que .Cuerpo ocupe todo el espacio restante disponible */
    width : 100%;
    display: flex;
    overflow-y: auto; /* Si el contenido es muy largo, permite scroll solo en el cuerpo */
    justify-content: center;
  }

/* =========================================
   3. LA GRILLA DE PRODUCTOS (¡LO QUE FALTABA!)
   ========================================= */
.productos-lista2 {
  /* Usamos Flex Column para apilar uno debajo de otro */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre cada tarjeta */
  

  /* Importante: Un ancho máximo para que parezca una lista ordenada 
     y no se estire de borde a borde en monitores anchos */
  margin-left: auto;
  margin-right: auto
}
